{#
/**
 * @file
 * Contains the text of the userdata explanation page
 */
#}

<div class='userdata-description'>
{% trans %}
    <p>The page contain information about registration users.</p>
    <p>list of users</p>
    
{% endtrans %}
</div>
